__pycache__/
*.py[cod]
*$py.class

test_scripts.py

venv/

training/
testing_data/
trained_graphs/*
trained_graphs/
output/
dataset/
uploads/
results_prediction/
export_balsamiq/
Tesseract-OCR/

.idea/
*.idea

.vscode
pencil
dataset_android
